<html>  
<head>  
    <title>Project1</title>  
    <link rel="stylesheet" href="{{url_for('static', filename ='style.css') }}">

<style>	
    .message {
  font-size: 25px;
  color: red;
}
</style>

</head>  
<body>  
	<div class = "heading">    
    <h2>Welcome to Books World!</h2> <br></div>
    <div class = "subhead" >
    

</div>

<div class="message">
{{ message }}
</div>

<div class = contents>
    <form method = "post" action = "http://localhost:5000/registered">  
        <table class="formclass">  
        	<tr><td>First name:</td><td class = tdclass><input type = 'text' name = 'fname' placeholder="Enter your First Name" required="required"></td></tr>  
            <tr><td>Last name:</td><td class = tdclass><input type = 'text' name = 'lname' placeholder="Enter your Last Name" required="required"></td></tr>  
            <tr><td>Username:</td><td class = tdclass><input type = 'text' name = 'username' placeholder="Enter your Username" required="required"></td></tr>  
           
            <tr><td>Password:</td><td class = tdclass><input type = 'password' name = 'password' placeholder="Enter your Password" required="required"></td></tr>  
             <tr><td>Email:</td><td class = tdclass><input type = 'email' name = 'email' placeholder="Eg: abc@gmail.com" required="required"></td></tr>
              </table> <br>
            <input type = "submit" class="link-btn" value = "Register">
         
    </form>  
</div>
</body>  
</html>  